<h1>Restaurants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
<% @restaurant.each do |restaurant| %>
  <tr>
    <td><%= restaurant.name %></td>
    <td><%= restaurant.description %></td>
  </tr>
<% end %>
</table>
